.homeDisplay_container {
  height: calc(150vh - 60px);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.homeDisplay_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99%;
  height: 99%;
}

.homeDisplay_title {
  font-size: 30px;
  margin: 30px 0px 0px 0px;
}

.homeDisplay_card_wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.homeDisplay_card {
  width: 280px;
  height: 50vh;
  margin: 30px;
  position: relative;
}

.homeDisplay_card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: imgchage 0.5s ease;
  cursor: pointer;
}

@keyframes imgchage {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.homeDisplay_card_img_hover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: imgchange 1s ease;
  cursor: pointer;
}

@keyframes imgchange {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.homeDisplay_card_caption {
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  opacity: 0;
}

.homeDisplay_card_caption.active {
  opacity: 1;
  animation: upword 0.5s ease;
}

@keyframes upword {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 50px;
    opacity: 1;
  }
}

@media (max-width: 760px) {
  .homeDisplay_container {
    height: 100%;
  }

  .homeDisplay_card {
    height: 35vh;
  }
}
